
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   background-image: url('roblox.png');
   background-size: cover;
}

body {
  margin: 0;
}

/* Login box */
.login-box {
 
 
  
  padding: 40px 50px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 540px;
  text-align: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.871);
 
}


.login-box h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 25px;
  color: green;
    text-shadow: 
    0 0 5px #00ff00,
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00,
    0 0 80px #00ff00;
}


.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Main login button */
.login-box button[type="submit"] {
  width: 100%;
  background-color: #00a2ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.login-box button[type="submit"]:hover {
  background-color: #0090e0;
}


.secondary-btn {
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.secondary-btn:hover {
  background-color: #f9f9f9;
}


.link-small {
  display: block;
  margin: 10px 0;
  font-size: 15px;
  color: blue;
  text-decoration: none;
  font-family: arial;
  font-weight: bolder;


}

.link-small:hover {
  text-decoration: underline;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}

.signup-text a {
  color: blue;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}


.message {
  margin-top: 15px;
  font-size: 14px;
  color: #d9534f;
}

hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

